<a href="https://colab.research.google.com/github/kjewww/Python-tutotrial-KKA/blob/main/Tutorial_Basic_Python_KKA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**What is Python?**

Python is a dynamic, interpreted (bytecode-compiled) language. Designed by Guido van Rossum, Python is a popular and widely used language in various IT fields, such as AI, Data Science, Machine Learning, Deep Learning, Web Development, and Deployment.

**Why programming with Python?**
* easy-to-understand and human-friendly syntax
* a cross-platform compatible language
* provides a comprehensive set of libraries and frameworks
* preferred choice for professionals
* flexible and versatile

#Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-33-a314491c53bb>, line 2)

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 7 > 2:
        print("Seven is greater than two!")

Five is greater than two!
Seven is greater than two!

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
    print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-36-0ed423492e84>, line 3)

#Variable

### Data Types

Text Type : str

Numeric Type : int, float, complex

Sequence Type : list, tuple, range

Mapping Type : dict

Set Types : set, frozenset

Boolean Type : bool

Binary Types : bytes, bytearray, memoryview

In [ ]:
# Without having to initialize the type of the variable.
x = 1
y = "kb"
z = True
print(x, type(x))
print(y, type(y))
print(z, type(z))

1 <class 'int'>
kb <class 'str'>
True <class 'bool'>

### Typecasting

In [ ]:
a = float(x)
b = int(z)

print(a, type(a), b, type(b))

1.0 <class 'float'> 1 <class 'int'>

In [ ]:
x = float(1)
y = str(2.4)

lima = '5'
z = float(lima)

print(x, y, type(y), z)

1.0 2.4 <class 'str'> 5.0

#Operators

Python divides the operators in the following groups:

* Arithmetic operators
* Bitwise operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators

#### Arithmetic Operators

| Operator  | Name | Example     |
|-------|------|----------|
| +  | Addition   | x + y |
| -  | Subtraction   | x - y  |
| *  | Multiplication   | x * y  |
| /  | Division   | x / y  |
| %  | Modulus   | x % y  |
| ** | Exponential   | x ** y  |
| //  | Floor Division   | x // y  |

In [ ]:
x = 3
y = 5
print('Addition ->', x+y)
print('Subtraction ->', x-y)
print('Multipication ->', x*y)
print('Division ->', x/y)
print('Modulus ->', x%y)
print('Exponential ->', x**y)
print('Floor Division ->', x//y)

Addition -> 8
Subtraction -> -2
Multipication -> 15
Division -> 0.6
Modulus -> 3
Exponential -> 243
Floor Division -> 0

#### Bitwise Operators

| Operator  | Name | Description     | Example |
|-------|------|----------|-------|
| & | AND   | Sets each bit to 1 if both bits are 1 | x & y |
| \|  | OR   | Sets each bit to 1 if one of two bits is 1  | x \| y |
| ^  | XOR   | Sets each bit to 1 if only one of two bits is 1  | ^ x |
| ~  | NOT   | Inverts all the bits  | ~ x |
| <<  | Left Shift   | Shift left by pushing zeros in from the right and let the leftmost bits fall off  | x << y |
| >> | Right Shift  | Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off  | x >> y |

#### Assignment Operators

| Operator  | Example | Same As     |
|-------|------|----------|
| =  | x = 5  | x = 5 |
| +=  | x += 3   | x = x + 3  |
| -=  | x -= 3   | x = x - 3  |
| *=  | x *= 3   | x = x * 3  |
| /=  | x /= 3   | x = x / 3  |
| %=  |  x %= 3   | x = x % 3  |
| **= | x **= 3   | x = x ** 3  |
| //=  | x //= 3   | x = x // 3  |
| &=  | x &= 3   | x = x & 3 |
| \|= | x \|= 3   | x = x \| 3  |
| ^=  | x ^= 3   | x = x ^ 3  |
| >>=  | x >>= 3  | x = x >> 3  |
| <<=  | x <<= 3  | x = x << 3  |
| := | print(x := 3) | x = 3; print(x)  |

#### Comparison Operators

| Operator  | Name | Example     |
|-------|------|----------|
| ==  | Equal   | x == y |
| !=  | Not Equal   | x != y  |
| >  | Greater Than   | x > y  |
| <  |Less Than   | x < y  |
| >=  | Greater than or equal to   | x >= y  |
| <= | Less than or equal to   | x <= y  |

#### Logical Operators

| Operator  | Description | Example     |
|-------|------|----------|
| and  | Returns True if both statements are true   | x < 5 and  x < 10 |
| or  | Returns True if one of the statements is true   | x < 5 or x < 4  |
| not  | Reverse the result, returns False if the result is true   | not(x < 5 and x < 10)  |

#### Identity Operators

| Operator  | Description | Example     |
|-------|------|----------|
| is  | Returns True if both variables are the same object   | x is y |
| is not  | Returns True if both variables are not the same object   | x is not y  |

#### Membership Operators

| Operator  | Description | Example     |
|-------|------|----------|
| in  | Returns True if a sequence with the specified value is present in the object   | x in y |
| not in  | Returns True if a sequence with the specified value is not present in the object   | x not in y  |

#String

### Indexing and Slicing

![image.png]()

In [ ]:
stasiun = "Semarang Tawang"
ind = -3

# Positive Index
print(f"This is using positive index, index {len(stasiun) - 3} is {stasiun[len(stasiun) - 3]}")
# Negative Index
print(f"This is using negative index, index {ind} is {stasiun[-3]}")

This is using positive index, index 12 is a
This is using negative index, index -3 is a

* We can use slicing to get a substring
* s[m:n] is a substring of s whose characters are taken from index m to index n-1
* If n  m, then the result of slicing is an empty string.

In [ ]:
# Slicing
print(stasiun[0:8])
print(stasiun[-14:])

Semarang
emarang Tawang

### Striding

s[m:n:p] like s[m:n], starting at index m, we move by the number p from left to right.

In [ ]:
print(stasiun)
print(stasiun[1:11:2])

Semarang Tawang
eaagT

In [ ]:
stasiun[-6::-1]

'T gnarameS'

### String Slicing and Striding Default Value

If you leave out the values m, n, or p in the s[m:n] and s[m:n:p] formats, Python will determine the default values for those values: m = 0, n = len(s), p = 1

In [ ]:
#Semarang Tawang
print(stasiun)
stasiun[::2]

Semarang Tawang

'Smrn aag'

In [ ]:
print(stasiun)
stasiun[:-1]

Semarang Tawang

'Semarang Tawan'

In [ ]:
print(stasiun)
stasiun[-1:]

Semarang Tawang

'g'

In [ ]:
print(stasiun)
stasiun[-2:5:-1]

Semarang Tawang

'nawaT gn'

### Concatenation

In [ ]:
lang = "Python"
obj = "cool"
print("Wow,", lang, "is awesome!")
print("Wow," + lang + "is awesome!") #ga ada spasi otomatis
print("Wow, {} is awesome and {}!".format(lang, obj))
print("Wow, {1} is awesome and {0}!".format(lang, obj)) # 0 dan 1 berarti urutan dari argumen

Wow, Python is awesome!
Wow,Pythonis awesome!
Wow, Python is awesome and cool!
Wow, cool is awesome and Python!

In [ ]:
sentence = "Wow, " + lang + " is awesome!"
yaay = "heheh " + "lslsl"
yaay
sentence

'Wow, Python is awesome!'

### Replication

Multiplying a string by a number (using *) will produce a new string that is a replication of the old string.

In [ ]:
print("*" * 5) #print char bintang 5 kali
print(4 * "very ")
for i in range(5):
  print('*', end='') #sama aja

*****
very very very very
*****

### Methods

In [ ]:
# STRING METHOD
print(sentence)
sentence.upper() # mengubah semua menjadi upper case

Wow, Python is awesome!

'WOW, PYTHON IS AWESOME!'

In [ ]:
print(sentence)
sentence.lower()

Wow, Python is awesome!

'wow, python is awesome!'

In [ ]:
# mengganti kata awesome dengan cool
sentence = sentence + ' awesome'
print(sentence)
sentence.replace("awesome", "cool")

Wow, Python is awesome! awesome

'Wow, Python is cool! cool'

In [ ]:
sentence = "Wow, Python is awesome! Python"
print(sentence)
sentence.find("Python") # return index huruf pertama (P) jika ditemukan

Wow, Python is awesome! Python

5

# Input

In [ ]:
kelas = input()
print(type(int(kelas)))
print(kelas + " sangat menyenangkan!")

12
<class 'int'>
12 sangat menyenangkan!

# Data Structure

* **List**  : ordered, duplicate, changeable, indexed []
* **Tuple** : ordered, duplicate, unchangeable ()
* **Set**   : unordered, no duplicate {}
* **Dictionary** : ordered (Python 3.7), no duplicate, changeable, indexed {}

Kita juga bisa melakukan slicing, negative indexing dan berbagai macam method seperti pada string.

### List

In [ ]:
list_ = ["jambu", "jeruk", "apel", 1, 4.0]
print(list_[0]) # first item
print(list_[-1]) # last item
print(list_[:2]) # 2 first item

jambu
4.0
['jambu', 'jeruk']

In [ ]:
list_[3] = "alpukat"
list_

['jambu', 'jeruk', 'apel', 'alpukat', 4.0]

In [ ]:
list_.append("apel")
list_

['jambu', 'jeruk', 'apel', 'alpukat', 4.0, 'apel']

In [ ]:
list_.remove("apel")
list_

['jambu', 'jeruk', 'alpukat', 4.0, 'apel']

In [ ]:
list_.clear()
list_

[]

* The range() function can be used to generate a series of numbers. range(10) will generate numbers from 0 to 9 (10 numbers).
* We can also specify the lower limit, upper limit, and interval with the format range(lower limit, upper limit, interval).

In [ ]:
print(list(range(10)))
print(list(range(4,10)))
print(list(range(0,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

### Tuple

In [ ]:
tuple_ = ("accept", "success", "reject", "fail")
print(tuple_)
print(tuple_[0])

#tuple_[0] = "yey" # tidak bisa diedit karena fixed value
print(tuple_)

#Hasil dari code tersebut adalah...

('accept', 'success', 'reject', 'fail')
accept
('accept', 'success', 'reject', 'fail')

### Set

In [ ]:
set_ = {"jambu", "apel", "jeruk", "apel"}
print(set_) # no duplicate
# print(set_[0]) # unordered
set_.add("mangga")
set_.add("Mangga")
set_.add("Zuzuzu")
set_.add("jambu")
set_

{'jeruk', 'jambu', 'apel'}

{'Mangga', 'Zuzuzu', 'apel', 'jambu', 'jeruk', 'mangga'}

### Dictionary

In [ ]:
dict_ = {
    "name" : "KB",
    "type" : "A",
    "year" : 2022
}

print(dict_)
print(dict_["name"])
print(dict_.get("test", 'ga ada'))
print(dict_.get("nam", "kosong"))
print(dict_.keys())
print(dict_.values())

{'name': 'KB', 'type': 'A', 'year': 2022}
KB
ga ada
kosong
dict_keys(['name', 'type', 'year'])
dict_values(['KB', 'A', 2022])

In [ ]:
dict_["year"] = 2024
dict_["name"] = 'Aku'
dict_

{'name': 'Aku', 'type': 'A', 'year': 2024}

# Conditionals

### if...else...

As we saw in the lecure, the `else` clause is optional, so let's start with a plain `if` statement first:

In [ ]:
if 1 < 2:
    print('1 is less than 2')

1 is less than 2

In [ ]:
if 2 < 1:
    print('2 is less than 1')

As you can see, the code block indented under the `if` statement is executed **if and only if** the conditional expression is `True`.

Be careful with code blocks - keep the code indented. If you unindent the code Python will treat this as outside the code block:

In [ ]:
if 1 < 2:
    print('block - line 1')
    print('block - line 2')
    print('block - line 3')
print('next line')

block - line 1
block - line 2
block - line 3
next line

As you can see all the `print` statement executed, but what actually happened is that `next line` would always execute because it is **not** in the `if` block

In [ ]:
if 2 < 1:
    print('block - line 1')
    print('block - line 2')
    print('block - line 3')
print('next line')

next line

See, `next line` still printed. A code block is identified by indenting it one level more than the previous line of code, and is terminated by unindenting you next line of code. Most editors, including Jupyter allow you to use the `Tab` key to indent, and `Shift + Tab` to unindent.

To make things clearer, we often add a blank line after the end of a block:

In [ ]:
if 2 < 1:
    print('block - line 1')
    print('block - line 2')
    print('block - line 3')

print('next line')

next line

This makes the code a bit easier to read (easier to sperate the code block from the next line).

Code blocks are used frequently throughout Python, so we'll see this many times over.

Next, let's look at the `else` clause.

The code block under the `else` clause will execute **if and only if** the condition is `False` (in which case the `if` code block does not execute).

In other words, the code blocks under the `if` and under the `else` are mutually exclusive - if one runs, the other does not, and vice versa.

In [ ]:
if 1 < 2:
    print('1 is less than 2')
else:
    print('1 is not less than 2')

1 is less than 2

In [ ]:
if 2 < 1:
    print('2 is less than 1')
else:
    print('2 is not less than 1')

2 is not less than 1

Of course our conditional expression in the `if` statement can be more complex:

In [ ]:
account_enabled = True
balance = 1000
withdraw = 100

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    print('withdrawal not authorized')

withdrawal authorized

In [ ]:
account_enabled = True
balance = 1000
withdraw = 10_000

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    print('withdrawal not authorized')

withdrawal not authorized

In [ ]:
account_enabled = False
balance = 1000
withdraw = 100

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    print('withdrawal not authorized')

withdrawal not authorized

Code blocks can contain any valid Python code.

Amongst other things, they can contain other `if...else...` statements too!

For example, in the account example we did above, we may want to provide a better error message that is more specific - like "account disabled" or "insufficient funds".

We could do it this way:

In [ ]:
account_enabled = False
balance = 1000
withdraw = 100

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    # cannot withdraw for some reason
    if not account_enabled:
        print('account disabled')
    else:
        # must be insufficient funds
        print('insufficient funds')

account disabled

In [ ]:
account_enabled = True
balance = 1000
withdraw = 100_000

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    # cannot withdraw for some reason
    if not account_enabled:
        print('account disabled')
    else:
        # must be insufficient funds
        print('insufficient funds')

insufficient funds

Too many levels of nested code can make it harder to read - so try to avoid this if you can.

For example, suppose we need to assign a letter grade based on a range of numerical grades:
```
>= 90       --> A
>= 80, < 90 --> B
>= 70, < 80 --> C
>= 60, < 70 --> D
< 60        --> F
```

We could write it this way:

In [ ]:
grade = 72

if grade >= 90:
    letter_grade = 'A'
elif grade >= 80 and grade < 90:
    letter_grade = 'B'
elif grade >= 70 and grade < 80:
    letter_grade = 'C'
elif grade >= 60 and grade < 70:
    letter_grade = 'D'
else:
   letter_grade = 'F'

print(letter_grade)

C

In [ ]:
grade = 72

if grade >= 90:
    letter_grade = 'A'
else:
    if grade >= 80:
        letter_grade = 'B'
    else:
        if grade >= 70:
            letter_grade = 'C'
        else:
            if grade >= 60:
                letter_grade = 'D'
            else:
                letter_grade = 'F'

print(letter_grade)

C

This can get difficult to read.
A slightly different approach could be as follows:

In [ ]:
grade = 72

if grade >= 90:
    letter_grade = 'A'

if grade >= 80 and grade < 90:
    letter_grade = 'B'

if grade >= 70 and grade < 80:
    letter_grade = 'C'

if grade >= 60 and grade < 70:
    letter_grade = 'D'

if grade < 60:
    letter_grade = 'F'

print(letter_grade)

C

This works, but a lot of needless comparisons - that's not ideal either.

Also there is a danger that all the `if` statement in our code do not account for all possible grades - they do in this case, but what if we had forgottn one interval, or gotten some of the intervals wrong?

We could try this approach too, where we assign a default grade as the lowest grade (so we are ensured we always have a grade), and that results in less comparisons:

In [ ]:
grade = 72

letter_grade = 'F'

if grade >= 60:
    letter_grade = 'D'

if grade >= 70:
    letter_grade = 'C'

if grade >= 80:
    letter_grade = 'B'

if grade >= 90:
    letter_grade = 'A'

print(letter_grade)

C

So less comparisons, and we are at least guarantee for `letter_grade` to have a value (but maybe the wrong one if we missed an interval or forgot one altogether) - so that's a bit better than the last approach in those respects.

But we've also done a lot of unecessary work!

To assign the grade `C` we:
- first assigned 'F'
- then assigned 'D'
- then assigned 'C'
- then performed the `grade >= 80` check but did not assign a new grade
- then performed the `grade >= 90` check but did not assign a new grade

So this is far from ideal either!

Fortunately Python provides us a cleaner solution for this type of problem - stay tuned for the next video!

### The `elif` Clause

Let's recall the example we had with a lof of nested `if...else...` statements.

In [ ]:
grade = 72

if grade >= 90:
    letter_grade = 'A'
else:
    if grade >= 80:
        letter_grade = 'B'
    else:
        if grade >= 70:
            letter_grade = 'C'
        else:
            if grade >= 60:
                letter_grade = 'D'
            else:
                letter_grade = 'F'

print(letter_grade)

C

We tried several alternatives, but none were very satisfactory.

Instead, we can use the `elif` clause which basically is like doing a nested else...if... statement without actually having to do it, for example:

In [ ]:
grade = 72

if grade >= 80:
    print('Passed with distinction')
else:
    if grade >= 70:
        print('Passed')
    else:
        print('Failed')

Passed

We can rewrite this using `elif` as follows:

In [ ]:
grade = 72

if grade >= 80:
    print('Passed with distinction')
elif grade >= 70:
    print('Passed')
else:
    print('Failed')

Passed

Note how the `else` clause is at the same level as the main `if` statement - that's because the `else` block only executes if none of the other `if` or `elif` blocks executed.

So now, we can rewrite our grade letter assignment as follows:

In [ ]:
grade = 72

if grade >= 90:
    letter_grade = 'A'
elif grade >= 80:
    letter_grade = 'B'
elif grade >= 70:
    letter_grade = 'C'
elif grade >= 60:
    letter_grade = 'D'
else:
    letter_grade = 'F'

print(letter_grade)

C

Let's try this again with a previous example:

In [ ]:
account_enabled = True
balance = 1000
withdraw = 100_000

if account_enabled and withdraw <= balance:
    print('withdrawal authorized')
else:
    # cannot withdraw for some reason
    if not account_enabled:
        print('account disabled')
    else:
        # must be insufficient funds
        print('insufficient funds')

insufficient funds

We can simplify this a bit, without even using `elif`:

In [ ]:
account_enabled = True
balance = 1000
withdraw = 100_000

if not account_enabled:
    print('account disabled')
else:
    # account is enabled
    if withdraw > balance:
        print('insufficient funds')
    else:
        print('withdrawal authorized')

insufficient funds

This is a bit of simpler because we do not test `account_enabled` twice like in the first attempt.

But let's use `elif` to remove some of that nested code:

In [ ]:
account_enabled = True
balance = 1000
withdraw = 100_000

if not account_enabled:
    print('account disabled')
elif withdraw > balance:
    print('insufficient funds')
else:
    print('withdrawal authorized')

insufficient funds

Note: if you are coming from another programming language such as Java, C++, C#, etc you may be wondering about the `switch` statement.

Python does not have one - `elif` is as close as you're going to get to a `switch` statement.

# Looping

### Continue, Break and Else

Often, when we are in the middle of running a loop of some kind (`for` or `while`), we may want to exit the loop entirely or skip to the next iteration (if there is one).

Let's start by looking at the `break` statement, which we can use to break out of a loop entirely.

In [ ]:
for i in range(100):
    print(i)
    if i >= 5:
        print('breaking out of loop')
        break
print('done')

0
1
2
3
4
5
breaking out of loop
done

Sometimes we just want to bypass the remaining code in an iteration without stopping the loop entirely:

In [ ]:
for i in range(1, 11):
    if i % 2 == 1:
        # odd number - skip this
        continue
    print(i)

2
4
6
8
10

Now, often it is clearer to use a conditional instead of using `continue`:

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        # even number
        print(i)

2
4
6
8
10

This achieved the same result, and I think the code is clearer than using `continue`. However, you might run into situations, where you have maybe multiple places where it might make sense to `continue` and where using conditionals would become too repetitive - assess your code as you are writing it and think which approach will be clearer.

Readability matters!

The other thing that we should understand is that `break` or `continue` operate on the loop they are directly contained in - this is specifically important when working with nested loops.

In [ ]:
for i in range(1, 5):
    for j in range(1, 5):
        if (i + j) % 2 == 1:
            print(f'{i} + {j} is odd, skipping')
            continue
        print(f'adding numbers: {i} + {j} = {i + j}')

adding numbers: 1 + 1 = 2
1 + 2 is odd, skipping
adding numbers: 1 + 3 = 4
1 + 4 is odd, skipping
2 + 1 is odd, skipping
adding numbers: 2 + 2 = 4
2 + 3 is odd, skipping
adding numbers: 2 + 4 = 6
adding numbers: 3 + 1 = 4
3 + 2 is odd, skipping
adding numbers: 3 + 3 = 6
3 + 4 is odd, skipping
4 + 1 is odd, skipping
adding numbers: 4 + 2 = 6
4 + 3 is odd, skipping
adding numbers: 4 + 4 = 8

As you can see, the `continue` applied to the innermost loop, since it was located in the innermost loop's code block.

The same thing applies to `break` - it exits the loop it is currently in:

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        if j >= 3:
            break
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2

As you can see, the outermost loop ran to completion.

These `break` and `continue` statements work the same with a `while` loop too:

In [ ]:
i = 0

while True:
    i += 1
    if i > 5:
        break
    print(i)

1
2
3
4
5

One thing that is often needed is to know whether a loop terminated "normally" - that is without encountering a `break`.

Consider this example, where we are iterating over a list of integers, and we want to check that all values are positive:

In [ ]:
data = [1, 2, 3, -4, 5, 6]

all_positive = True

for element in data:
    if element <= 0:
        all_positive = False
        break

if all_positive:
    print('processing list of all positive elements')

So we basically used a flag `all_positive`, initialized to `True`. We set it to `False` as soon as we encounter a negative value - we also `break` since we do not need to continue the iteration - we found one negative value, so that answers our question.

But there is a more expressive way of doing this in Python, using the `else` clause that can be applied to either `for` or `while` loops.

The name `else` is a bit puzzling, but it essentially means "no break encountered":

In [ ]:
for i in range(5):
    print(i)
else: # no break
    print('loop terminated normally')

0
1
2
3
4
loop terminated normally

In [ ]:
for i in range(5):
    print(i)
    if i > 3:
        break
else: # no break
    print('loop terminated normally')

0
1
2
3
4

So, we can actually apply this to our example - we don't need to use that flag, all we need to do is know whether `break` was encountered or not, so instead of this:

In [ ]:
data = [1, 2, 3, -4, 5, 6]

all_positive = True

for element in data:
    if element < 0:
        all_positive = False
        break

if all_positive:
    print('processing all positive elements')

we can write this:

In [ ]:
data = [1, 2, 3, 4, 5, 6]

for element in data:
    if element < 0:
        break
else: # no break
    print('processing all positive elements')

processing all positive elements

### The `range` Function

The `range()` function is a built-in Python function that we can use to create ranges of integer values.

In [ ]:
range(10)

range(0, 10)

The return value is not a list or a tuple, it is a special `range` object:

In [ ]:
type(range(10))

range

This range object is **iterable** - i.e. we can iterate over it's elements, and we'll see how iteration works in this chapter.

For now, we can see the integers that would be returned during iteration by converting that range object to a list or a tuple:

In [ ]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Essentially the `list()` / `tuple()` functions iterated over the range object and made a list/tuple out of those integers.

The `range` function has three flavors.

If we only specify a single argument, then Python takes it to mean the end (exclusive), starting with `0`:

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

If we specify two arguments, then Python interprets that as the `start` and `end` (exclusive) values:

In [ ]:
list(range(2, 6))

[2, 3, 4, 5]

You'll note that the length of the iterable is `end - start`:

In [ ]:
len(range(100, 108))

8

In [ ]:
len(range(5))

5

If we specify three values, then Python interprets that as the `start`, `end` and `step`.

For example, to create a range of even numbers starting at `2`, and ending at `10` (exclusive), we would do this:

In [ ]:
list(range(2, 10, 2))

[2, 4, 6, 8]

If we wanted to include `10`, we'd just have to remember to go `1` beyond the value `10`:

In [ ]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

We can also specify negative step sizes, but in this case we have to make our start/end values appropriate (i.e. end <= start):

In [ ]:
list(range(10, 2, -2))

[10, 8, 6, 4]

And again, the end value, `2` in this case, is exclusive.

The range function is extremely useful for repeating code a set number of times, and knowing at each iteration which iteration number we are in. We'll see this in the next videos.

### While Loops

The `while` loop is another way to repeat the same code multiple times.

Unlike the `for` loop which is used to iterate over an iterable, the `while` loop uses a conditional to run code as many times as some condition remains `True`.

Let's look at a simple example first:

In [ ]:
price = 100

while price > 90:
    print(f'price = {price} - waiting for price for come down...')
    price = price -1  # or price -= 1
print(f'buying at {price}.')

price = 100 - waiting for price for come down...
price = 99 - waiting for price for come down...
price = 98 - waiting for price for come down...
price = 97 - waiting for price for come down...
price = 96 - waiting for price for come down...
price = 95 - waiting for price for come down...
price = 94 - waiting for price for come down...
price = 93 - waiting for price for come down...
price = 92 - waiting for price for come down...
price = 91 - waiting for price for come down...
buying at 90.

As you can see, the code block was repeated as long as the condition was true.

When you write `while` loops, it is possible that the loop block **never** executes - that is something you should watch out for as it often can introduce bugs.

In [ ]:
# price = 100
# while price < 50:
#     print(f'price={price}')
# print('done')

price = 100
while price > 90:
    print(f'price={price}')
    price += 1

Output streaming akan dipotong hingga 5000 baris terakhir.
price=77787
price=77788
price=77789
price=77790
price=77791
price=77792
price=77793
price=77794
price=77795
price=77796
price=77797
price=77798
price=77799
price=77800
price=77801
price=77802
price=77803
price=77804
price=77805
price=77806
price=77807
price=77808
price=77809
price=77810
price=77811
price=77812
price=77813
price=77814
price=77815
price=77816
price=77817
price=77818
price=77819
price=77820
price=77821
price=77822
price=77823
price=77824
price=77825
price=77826
price=77827
price=77828
price=77829
price=77830
price=77831
price=77832
price=77833
price=77834
price=77835
price=77836
price=77837
price=77838
price=77839
price=77840
price=77841
price=77842
price=77843
price=77844
price=77845
price=77846
price=77847
price=77848
price=77849
price=77850
price=77851
price=77852
price=77853
price=77854
price=77855
price=77856
price=77857
price=77858
price=77859
price=77860
price=77861
price=77862
price=77863
price=77864
price=77865
price=77866
price=77867
price=77868
price=77869
price=77870
price=77871
price=77872
price=77873
price=77874
price=77875
price=77876
price=77877
price=77878
price=77879
price=77880
price=77881
price=77882
price=77883
price=77884
price=77885
price=77886
price=77887
price=77888
price=77889
price=77890
price=77891
price=77892
price=77893
price=77894
price=77895
price=77896
price=77897
price=77898
price=77899
price=77900
price=77901
price=77902
price=77903
price=77904
price=77905
price=77906
price=77907
price=77908
price=77909
price=77910
price=77911
price=77912
price=77913
price=77914
price=77915
price=77916
price=77917
price=77918
price=77919
price=77920
price=77921
price=77922
price=77923
price=77924
price=77925
price=77926
price=77927
price=77928
price=77929
price=77930
price=77931
price=77932
price=77933
price=77934
price=77935
price=77936
price=77937
price=77938
price=77939
price=77940
price=77941
price=77942
price=77943
price=77944
price=77945
price=77946
price=77947
price=77948
price=77949
price=77950
price=77951
price=77952
price=77953
price=77954
price=77955
price=77956
price=77957
price=77958
price=77959
price=77960
price=77961
price=77962
price=77963
price=77964
price=77965
price=77966
price=77967
price=77968
price=77969
price=77970
price=77971
price=77972
price=77973
price=77974
price=77975
price=77976
price=77977
price=77978
price=77979
price=77980
price=77981
price=77982
price=77983
price=77984
price=77985
price=77986
price=77987
price=77988
price=77989
price=77990
price=77991
price=77992
price=77993
price=77994
price=77995
price=77996
price=77997
price=77998
price=77999
price=78000
price=78001
price=78002
price=78003
price=78004
price=78005
price=78006
price=78007
price=78008
price=78009
price=78010
price=78011
price=78012
price=78013
price=78014
price=78015
price=78016
price=78017
price=78018
price=78019
price=78020
price=78021
price=78022
price=78023
price=78024
price=78025
price=78026
price=78027
price=78028
price=78029
price=78030
price=78031
price=78032
price=78033
price=78034
price=78035
price=78036
price=78037
price=78038
price=78039
price=78040
price=78041
price=78042
price=78043
price=78044
price=78045
price=78046
price=78047
price=78048
price=78049
price=78050
price=78051
price=78052
price=78053
price=78054
price=78055
price=78056
price=78057
price=78058
price=78059
price=78060
price=78061
price=78062
price=78063
price=78064
price=78065
price=78066
price=78067
price=78068
price=78069
price=78070
price=78071
price=78072
price=78073
price=78074
price=78075
price=78076
price=78077
price=78078
price=78079
price=78080
price=78081
price=78082
price=78083
price=78084
price=78085
price=78086
price=78087
price=78088
price=78089
price=78090
price=78091
price=78092
price=78093
price=78094
price=78095
price=78096
price=78097
price=78098
price=78099
price=78100
price=78101
price=78102
price=78103
price=78104
price=78105
price=78106
price=78107
price=78108
price=78109
price=78110
price=78111
price=78112
price=78113
price=78114
price=78115
price=78116
price=78117
price=78118
price=78119
price=78120
price=78121
price=78122
price=78123
price=78124
price=78125
price=78126
price=78127
price=78128
price=78129
price=78130
price=78131
price=78132
price=78133
price=78134
price=78135
price=78136
price=78137
price=78138
price=78139
price=78140
price=78141
price=78142
price=78143
price=78144
price=78145
price=78146
price=78147
price=78148
price=78149
price=78150
price=78151
price=78152
price=78153
price=78154
price=78155
price=78156
price=78157
price=78158
price=78159
price=78160
price=78161
price=78162
price=78163
price=78164
price=78165
price=78166
price=78167
price=78168
price=78169
price=78170
price=78171
price=78172
price=78173
price=78174
price=78175
price=78176
price=78177
price=78178
price=78179
price=78180
price=78181
price=78182
price=78183
price=78184
price=78185
price=78186
price=78187
price=78188
price=78189
price=78190
price=78191
price=78192
price=78193
price=78194
price=78195
price=78196
price=78197
price=78198
price=78199
price=78200
price=78201
price=78202
price=78203
price=78204
price=78205
price=78206
price=78207
price=78208
price=78209
price=78210
price=78211
price=78212
price=78213
price=78214
price=78215
price=78216
price=78217
price=78218
price=78219
price=78220
price=78221
price=78222
price=78223
price=78224
price=78225
price=78226
price=78227
price=78228
price=78229
price=78230
price=78231
price=78232
price=78233
price=78234
price=78235
price=78236
price=78237
price=78238
price=78239
price=78240
price=78241
price=78242
price=78243
price=78244
price=78245
price=78246
price=78247
price=78248
price=78249
price=78250
price=78251
price=78252
price=78253
price=78254
price=78255
price=78256
price=78257
price=78258
price=78259
price=78260
price=78261
price=78262
price=78263
price=78264
price=78265
price=78266
price=78267
price=78268
price=78269
price=78270
price=78271
price=78272
price=78273
price=78274
price=78275
price=78276
price=78277
price=78278
price=78279
price=78280
price=78281
price=78282
price=78283
price=78284
price=78285
price=78286
price=78287
price=78288
price=78289
price=78290
price=78291
price=78292
price=78293
price=78294
price=78295
price=78296
price=78297
price=78298
price=78299
price=78300
price=78301
price=78302
price=78303
price=78304
price=78305
price=78306
price=78307
price=78308
price=78309
price=78310
price=78311
price=78312
price=78313
price=78314
price=78315
price=78316
price=78317
price=78318
price=78319
price=78320
price=78321
price=78322
price=78323
price=78324
price=78325
price=78326
price=78327
price=78328
price=78329
price=78330
price=78331
price=78332
price=78333
price=78334
price=78335
price=78336
price=78337
price=78338
price=78339
price=78340
price=78341
price=78342
price=78343
price=78344
price=78345
price=78346
price=78347
price=78348
price=78349
price=78350
price=78351
price=78352
price=78353
price=78354
price=78355
price=78356
price=78357
price=78358
price=78359
price=78360
price=78361
price=78362
price=78363
price=78364
price=78365
price=78366
price=78367
price=78368
price=78369
price=78370
price=78371
price=78372
price=78373
price=78374
price=78375
price=78376
price=78377
price=78378
price=78379
price=78380
price=78381
price=78382
price=78383
price=78384
price=78385
price=78386
price=78387
price=78388
price=78389
price=78390
price=78391
price=78392
price=78393
price=78394
price=78395
price=78396
price=78397
price=78398
price=78399
price=78400
price=78401
price=78402
price=78403
price=78404
price=78405
price=78406
price=78407
price=78408
price=78409
price=78410
price=78411
price=78412
price=78413
price=78414
price=78415
price=78416
price=78417
price=78418
price=78419
price=78420
price=78421
price=78422
price=78423
price=78424
price=78425
price=78426
price=78427
price=78428
price=78429
price=78430
price=78431
price=78432
price=78433
price=78434
price=78435
price=78436
price=78437
price=78438
price=78439
price=78440
price=78441
price=78442
price=78443
price=78444
price=78445
price=78446
price=78447
price=78448
price=78449
price=78450
price=78451
price=78452
price=78453
price=78454
price=78455
price=78456
price=78457
price=78458
price=78459
price=78460
price=78461
price=78462
price=78463
price=78464
price=78465
price=78466
price=78467
price=78468
price=78469
price=78470
price=78471
price=78472
price=78473
price=78474
price=78475
price=78476
price=78477
price=78478
price=78479
price=78480
price=78481
price=78482
price=78483
price=78484
price=78485
price=78486
price=78487
price=78488
price=78489
price=78490
price=78491
price=78492
price=78493
price=78494
price=78495
price=78496
price=78497
price=78498
price=78499
price=78500
price=78501
price=78502
price=78503
price=78504
price=78505
price=78506
price=78507
price=78508
price=78509
price=78510
price=78511
price=78512
price=78513
price=78514
price=78515
price=78516
price=78517
price=78518
price=78519
price=78520
price=78521
price=78522
price=78523
price=78524
price=78525
price=78526
price=78527
price=78528
price=78529
price=78530
price=78531
price=78532
price=78533
price=78534
price=78535
price=78536
price=78537
price=78538
price=78539
price=78540
price=78541
price=78542
price=78543
price=78544
price=78545
price=78546
price=78547
price=78548
price=78549
price=78550
price=78551
price=78552
price=78553
price=78554
price=78555
price=78556
price=78557
price=78558
price=78559
price=78560
price=78561
price=78562
price=78563
price=78564
price=78565
price=78566
price=78567
price=78568
price=78569
price=78570
price=78571
price=78572
price=78573
price=78574
price=78575
price=78576
price=78577
price=78578
price=78579
price=78580
price=78581
price=78582
price=78583
price=78584
price=78585
price=78586
price=78587
price=78588
price=78589
price=78590
price=78591
price=78592
price=78593
price=78594
price=78595
price=78596
price=78597
price=78598
price=78599
price=78600
price=78601
price=78602
price=78603
price=78604
price=78605
price=78606
price=78607
price=78608
price=78609
price=78610
price=78611
price=78612
price=78613
price=78614
price=78615
price=78616
price=78617
price=78618
price=78619
price=78620
price=78621
price=78622
price=78623
price=78624
price=78625
price=78626
price=78627
price=78628
price=78629
price=78630
price=78631
price=78632
price=78633
price=78634
price=78635
price=78636
price=78637
price=78638
price=78639
price=78640
price=78641
price=78642
price=78643
price=78644
price=78645
price=78646
price=78647
price=78648
price=78649
price=78650
price=78651
price=78652
price=78653
price=78654
price=78655
price=78656
price=78657
price=78658
price=78659
price=78660
price=78661
price=78662
price=78663
price=78664
price=78665
price=78666
price=78667
price=78668
price=78669
price=78670
price=78671
price=78672
price=78673
price=78674
price=78675
price=78676
price=78677
price=78678
price=78679
price=78680
price=78681
price=78682
price=78683
price=78684
price=78685
price=78686
price=78687
price=78688
price=78689
price=78690
price=78691
price=78692
price=78693
price=78694
price=78695
price=78696
price=78697
price=78698
price=78699
price=78700
price=78701
price=78702
price=78703
price=78704
price=78705
price=78706
price=78707
price=78708
price=78709
price=78710
price=78711
price=78712
price=78713
price=78714
price=78715
price=78716
price=78717
price=78718
price=78719
price=78720
price=78721
price=78722
price=78723
price=78724
price=78725
price=78726
price=78727
price=78728
price=78729
price=78730
price=78731
price=78732
price=78733
price=78734
price=78735
price=78736
price=78737
price=78738
price=78739
price=78740
price=78741
price=78742
price=78743
price=78744
price=78745
price=78746
price=78747
price=78748
price=78749
price=78750
price=78751
price=78752
price=78753
price=78754
price=78755
price=78756
price=78757
price=78758
price=78759
price=78760
price=78761
price=78762
price=78763
price=78764
price=78765
price=78766
price=78767
price=78768
price=78769
price=78770
price=78771
price=78772
price=78773
price=78774
price=78775
price=78776
price=78777
price=78778
price=78779
price=78780
price=78781
price=78782
price=78783
price=78784
price=78785
price=78786
price=78787
price=78788
price=78789
price=78790
price=78791
price=78792
price=78793
price=78794
price=78795
price=78796
price=78797
price=78798
price=78799
price=78800
price=78801
price=78802
price=78803
price=78804
price=78805
price=78806
price=78807
price=78808
price=78809
price=78810
price=78811
price=78812
price=78813
price=78814
price=78815
price=78816
price=78817
price=78818
price=78819
price=78820
price=78821
price=78822
price=78823
price=78824
price=78825
price=78826
price=78827
price=78828
price=78829
price=78830
price=78831
price=78832
price=78833
price=78834
price=78835
price=78836
price=78837
price=78838
price=78839
price=78840
price=78841
price=78842
price=78843
price=78844
price=78845
price=78846
price=78847
price=78848
price=78849
price=78850
price=78851
price=78852
price=78853
price=78854
price=78855
price=78856
price=78857
price=78858
price=78859
price=78860
price=78861
price=78862
price=78863
price=78864
price=78865
price=78866
price=78867
price=78868
price=78869
price=78870
price=78871
price=78872
price=78873
price=78874
price=78875
price=78876
price=78877
price=78878
price=78879
price=78880
price=78881
price=78882
price=78883
price=78884
price=78885
price=78886
price=78887
price=78888
price=78889
price=78890
price=78891
price=78892
price=78893
price=78894
price=78895
price=78896
price=78897
price=78898
price=78899
price=78900
price=78901
price=78902
price=78903
price=78904
price=78905
price=78906
price=78907
price=78908
price=78909
price=78910
price=78911
price=78912
price=78913
price=78914
price=78915
price=78916
price=78917
price=78918
price=78919
price=78920
price=78921
price=78922
price=78923
price=78924
price=78925
price=78926
price=78927
price=78928
price=78929
price=78930
price=78931
price=78932
price=78933
price=78934
price=78935
price=78936
price=78937
price=78938
price=78939
price=78940
price=78941
price=78942
price=78943
price=78944
price=78945
price=78946
price=78947
price=78948
price=78949
price=78950
price=78951
price=78952
price=78953
price=78954
price=78955
price=78956
price=78957
price=78958
price=78959
price=78960
price=78961
price=78962
price=78963
price=78964
price=78965
price=78966
price=78967
price=78968
price=78969
price=78970
price=78971
price=78972
price=78973
price=78974
price=78975
price=78976
price=78977
price=78978
price=78979
price=78980
price=78981
price=78982
price=78983
price=78984
price=78985
price=78986
price=78987
price=78988
price=78989
price=78990
price=78991
price=78992
price=78993
price=78994
price=78995
price=78996
price=78997
price=78998
price=78999
price=79000
price=79001
price=79002
price=79003
price=79004
price=79005
price=79006
price=79007
price=79008
price=79009
price=79010
price=79011
price=79012
price=79013
price=79014
price=79015
price=79016
price=79017
price=79018
price=79019
price=79020
price=79021
price=79022
price=79023
price=79024
price=79025
price=79026
price=79027
price=79028
price=79029
price=79030
price=79031
price=79032
price=79033
price=79034
price=79035
price=79036
price=79037
price=79038
price=79039
price=79040
price=79041
price=79042
price=79043
price=79044
price=79045
price=79046
price=79047
price=79048
price=79049
price=79050
price=79051
price=79052
price=79053
price=79054
price=79055
price=79056
price=79057
price=79058
price=79059
price=79060
price=79061
price=79062
price=79063
price=79064
price=79065
price=79066
price=79067
price=79068
price=79069
price=79070
price=79071
price=79072
price=79073
price=79074
price=79075
price=79076
price=79077
price=79078
price=79079
price=79080
price=79081
price=79082
price=79083
price=79084
price=79085
price=79086
price=79087
price=79088
price=79089
price=79090
price=79091
price=79092
price=79093
price=79094
price=79095
price=79096
price=79097
price=79098
price=79099
price=79100
price=79101
price=79102
price=79103
price=79104
price=79105
price=79106
price=79107
price=79108
price=79109
price=79110
price=79111
price=79112
price=79113
price=79114
price=79115
price=79116
price=79117
price=79118
price=79119
price=79120
price=79121
price=79122
price=79123
price=79124
price=79125
price=79126
price=79127
price=79128
price=79129
price=79130
price=79131
price=79132
price=79133
price=79134
price=79135
price=79136
price=79137
price=79138
price=79139
price=79140
price=79141
price=79142
price=79143
price=79144
price=79145
price=79146
price=79147
price=79148
price=79149
price=79150
price=79151
price=79152
price=79153
price=79154
price=79155
price=79156
price=79157
price=79158
price=79159
price=79160
price=79161
price=79162
price=79163
price=79164
price=79165
price=79166
price=79167
price=79168
price=79169
price=79170
price=79171
price=79172
price=79173
price=79174
price=79175
price=79176
price=79177
price=79178
price=79179
price=79180
price=79181
price=79182
price=79183
price=79184
price=79185
price=79186
price=79187
price=79188
price=79189
price=79190
price=79191
price=79192
price=79193
price=79194
price=79195
price=79196
price=79197
price=79198
price=79199
price=79200
price=79201
price=79202
price=79203
price=79204
price=79205
price=79206
price=79207
price=79208
price=79209
price=79210
price=79211
price=79212
price=79213
price=79214
price=79215
price=79216
price=79217
price=79218
price=79219
price=79220
price=79221
price=79222
price=79223
price=79224
price=79225
price=79226
price=79227
price=79228
price=79229
price=79230
price=79231
price=79232
price=79233
price=79234
price=79235
price=79236
price=79237
price=79238
price=79239
price=79240
price=79241
price=79242
price=79243
price=79244
price=79245
price=79246
price=79247
price=79248
price=79249
price=79250
price=79251
price=79252
price=79253
price=79254
price=79255
price=79256
price=79257
price=79258
price=79259
price=79260
price=79261
price=79262
price=79263
price=79264
price=79265
price=79266
price=79267
price=79268
price=79269
price=79270
price=79271
price=79272
price=79273
price=79274
price=79275
price=79276
price=79277
price=79278
price=79279
price=79280
price=79281
price=79282
price=79283
price=79284
price=79285
price=79286
price=79287
price=79288
price=79289
price=79290
price=79291
price=79292
price=79293
price=79294
price=79295
price=79296
price=79297
price=79298
price=79299
price=79300
price=79301
price=79302
price=79303
price=79304
price=79305
price=79306
price=79307
price=79308
price=79309
price=79310
price=79311
price=79312
price=79313
price=79314
price=79315
price=79316
price=79317
price=79318
price=79319
price=79320
price=79321
price=79322
price=79323
price=79324
price=79325
price=79326
price=79327
price=79328
price=79329
price=79330
price=79331
price=79332
price=79333
price=79334
price=79335
price=79336
price=79337
price=79338
price=79339
price=79340
price=79341
price=79342
price=79343
price=79344
price=79345
price=79346
price=79347
price=79348
price=79349
price=79350
price=79351
price=79352
price=79353
price=79354
price=79355
price=79356
price=79357
price=79358
price=79359
price=79360
price=79361
price=79362
price=79363
price=79364
price=79365
price=79366
price=79367
price=79368
price=79369
price=79370
price=79371
price=79372
price=79373
price=79374
price=79375
price=79376
price=79377
price=79378
price=79379
price=79380
price=79381
price=79382
price=79383
price=79384
price=79385
price=79386
price=79387
price=79388
price=79389
price=79390
price=79391
price=79392
price=79393
price=79394
price=79395
price=79396
price=79397
price=79398
price=79399
price=79400
price=79401
price=79402
price=79403
price=79404
price=79405
price=79406
price=79407
price=79408
price=79409
price=79410
price=79411
price=79412
price=79413
price=79414
price=79415
price=79416
price=79417
price=79418
price=79419
price=79420
price=79421
price=79422
price=79423
price=79424
price=79425
price=79426
price=79427
price=79428
price=79429
price=79430
price=79431
price=79432
price=79433
price=79434
price=79435
price=79436
price=79437
price=79438
price=79439
price=79440
price=79441
price=79442
price=79443
price=79444
price=79445
price=79446
price=79447

KeyboardInterrupt:

The other thing is to watch out for infinite loops!
(Don't run this code - otherwise you'll have to interrupt the kernel (from the `Kernel` menu)

```
price = 100
while price > 90:
    print(f'price={price}')
    price += 1
```

As you can see, this loop executes indefinitely.

`while` loops are actually quite useful for modifying iterables as we are iterating over them.

For example, suppose we have a list of data that we have to process and remove from the list once we have procesed it, repeating this until the list is empty.

In [ ]:
data = [100, 200, 300, 400, 500]

In [ ]:
while len(data) > 0:
    last_element = data.pop()  # retrieves and removes last list element
    print(f'processing element: {last_element}')

processing element: 500
processing element: 400
processing element: 300
processing element: 200
processing element: 100

On the other hand, trying to do the same using a `for` loop is not recommended!

In [ ]:
data = [100, 200, 300, 400, 500]

In [ ]:
for i in range(len(data)):
    element = data.pop(i)  # remove element at index i
    print(f'processing element: {element}')

processing element: 100
processing element: 300
processing element: 500

IndexError: pop index out of range

So, a number of things happened here.

First, notice that the elements processed were `100`, followed by `300`, and then `500`.

What happened to `200` and `400`?

Then we got an `IndexError` indicating we were trying to retrieve an element using an out of bounds index.

Let's modify the code a bit and see what happened:

In [ ]:
data = [100, 200, 300, 400, 500]

First, `len(data)` is calculate at the start of the loop, so the number is:

In [ ]:
len(data)

5

So, we could re-write our code this way, and at the same time we'll print what `data` looks like in each iteration:

In [ ]:
for i in range(len(data)):
    print(f'i = {i}')
    print(f'before removing element: data = {data}')
    element = data.pop(i)  # remove element at index i
    print(f'processing element: {element}')
    print(f'after removing element: data = {data}')
    print('-' * 10)

i = 0
before removing element: data = [100, 200, 300, 400, 500]
processing element: 100
after removing element: data = [200, 300, 400, 500]
----------
i = 1
before removing element: data = [200, 300, 400, 500]
processing element: 300
after removing element: data = [200, 400, 500]
----------
i = 2
before removing element: data = [200, 400, 500]
processing element: 500
after removing element: data = [200, 400]
----------
i = 3
before removing element: data = [200, 400]

IndexError: pop index out of range

Look at the end of the first iteration (`i = 0`):

```
data = [200, 300, 400, 500]
```

Notice how the list now has `4` elements, not `5`.

When the second iteration runs, `i = 1`, we are removing the element at index `1`, which would have been the second element **if** the list had not been modified - so now the element at index `1` is `300`, not `200`.

And for the same reason by the time we reach `i = 3`, the list is empty, and hence the `IndexError`.

This goes to show that using a `for` loop to both iterate over and remove/insert elements of a sequence at the same time is, in general,  a bad idea.

### For Loops

`for` loops are one of the iteration mechanisms available in Python.

A `for` loop iterates over an **iterable**.

If you have a background in other programming languages such as Java, C#, etc you may find that the Python `for` loop is very different from the standard `for` loop in those languages. There is no counter of any kind, and the Python `for` loop is more like the *for each* loops in those languages.

So a `for` loop in Python is used to repeat the same block of (indented) code for each element of an iterable. At each iteration the particular element becomes available inside the code block.

For example, we can iterate over the element of a list this way:

In [ ]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']

In [ ]:
for suit in suits:
    abbrev = suit[0].upper()
    print(f'{abbrev} = {suit}')

S = Spades
H = Hearts
D = Diamonds
C = Clubs

Or we can just write it this way too:

In [ ]:
for suit in suits:
    print(f'{suit[0].upper()} = {suit}')

S = Spades
H = Hearts
D = Diamonds
C = Clubs

As you can see the loop block was repeated for each element of the list, and that element was available in the loop variable (`suit`).

Any iterable object can be iterated over using a `for` loop.

For example, a string is an iterable:

In [ ]:
for c in 'python':
    print(c.upper())

P
Y
T
H
O
N

As well as others we have seen (like tuples), and many more we will see in this course.

One thing to note is that the loop variable (like `suit` in the first example and `c` in the last example) remain available after the for loop terminates - they just contain the last value "seen" by the variable during the iteration:

In [ ]:
suit

'Clubs'

In [ ]:
c

'n'

## Range Objects

We recently looked at `range` objects. They can be created using the `range()` function.

Often, we want to run a loop a certain **number** of times, or just a sequence of integers.

In this case, we can use a `range` object to do just that - we will repeat the loop block as many times as there are elements in the `range` object, as well as get the integer from that iterable.

In [ ]:
for i in range(2, 11, 2):
    print(i)

The loop body (the code block that gets repeated), can contain any valid Python code - including another loop - called nested loops.

In [ ]:
for i in range(3):
    for j in range(3):
        print(f'i={i}, j={j}')
    print('-' * 10)

We can use nested loops to iterate through every element of a matrix for example.

In [ ]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In this case we can see that the matrix is a square 3x3 matrix (e.g. a list contain 3 elements (rows), each of which is a list containing 3 elements (the columns for that row).

So we can write our for loop this way:

In [ ]:
for row_idx in range(3):
    for col_idx in range(3):
        print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

Often we don't know the size of the matrix ahead of time, or the matrix may not be square, or may even be ragged (different rows have different lengths).

In that case, we should use the `len()` function to determine the number of rows in the matrix, and again for each to determine the length of each row as we iterate through the rows:

For example, the number of rows in `m` is:

In [ ]:
len(m)

3

And the length of the first row is:

In [ ]:
len(m[0])

3

the lenght of the second row is:

In [ ]:
len(m[1])

3

and so on.

So we could re-write our previous code to iterate through the elements of `m` as follows:

In [ ]:
for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
        print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

The advantage of this approach is that we can deal with any type of matrix, square, rectangular, or even ragged:

In [ ]:
m = [
    [0, 1],
    [2, 3, 4, 5, 6],
    [7, 8, 9],
    [10]
]

In [ ]:
for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
        print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

Here we used a nested loop to iterate through a matrix. We could also use it to build an `n x n` identity matrix, for any `n`:

In [ ]:
n = 5

matrix = []  # start with just an empty list

for row_idx in range(n):
    row = []  # create an empty row
    for col_idx in range(n):
        # build up each item
        # diagonal elements are 1, otherwise 0
        # on the diagonal if row_index = col_index
        if row_idx == col_idx:
            row.append(1)
        else:
            row.append(0)
    # done buiding row, so append it to the matrix
    matrix.append(row)

In [ ]:
matrix

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

And of course this can work for any `n`:

In [ ]:
n = 10

matrix = []  # start with just an empty list

for row_idx in range(n):
    row = []  # create an empty row
    for col_idx in range(n):
        # build up each item
        # diagonal elements are 1, otherwise 0
        # on the diagonal if row_index = col_index
        if row_idx == col_idx:
            row.append(1)
        else:
            row.append(0)
    # done buiding row, so append it to the matrix
    matrix.append(row)

In [ ]:
matrix

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 1]]

## The enumerate Function

The `enumerate` function is a function that takes in an iterable as an argument, and returns an iterable of tuples, where the first element of the tuple is a sequential integer number starting at `0`.

In [ ]:
data = [10, 20, 30]

list(enumerate(data))

[(0, 10), (1, 20), (2, 30)]

So we can loop over `data` **and** get the corresponding index numbers this way:

In [ ]:
for t in enumerate(data):
    print(t)

(0, 10)
(1, 20)
(2, 30)

But we can unpack the tuple `t` directly in our loop:

In [ ]:
for index, value in enumerate(data):
    print(f'{index}: {value}')

0: 10
1: 20
2: 30

Let's look at one of our previous examples:

In [ ]:
m = [
    [0, 1],
    [2, 3, 4, 5, 6],
    [7, 8, 9],
    [10]
]

for row_idx in range(len(m)):
    for col_idx in range(len(m[row_idx])):
        print(f'[{row_idx}, {col_idx}] = {m[row_idx][col_idx]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

Instead of using a range of integers to then pull elements by index, we can just iterate over the elements themselves:

In [ ]:
for row in m:
    for element in row:
        print(element)

0
1
2
3
4
5
6
7
8
9
10

Now we don't have the index numbers, but if all we're looking to do is iterate through the elements of the matrix, we're done. If we really want the index numbers too, we could do it using `enumerate`:

In [ ]:
for row_idx, row in enumerate(m):
    for col_idx, element in enumerate(row):
        print(f'[{row_idx}, {col_idx}] = {element}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

Let's look at another example.

Suppose we have a list (or any mutable sequence type really), and we want to replace "missing" (`None`) elements as we loop through it.

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

We want to replace the `None` values with the average of the values in the sequence.

Firts we have to calculate the average, which we can do by computing the sum of the not-`None` elements and dividing by the number of not-`None` elements.

Let's do this first by using index based iteration:

In [ ]:
count = 0
total = 0
for i in range(len(data)):  # note how I do not "hard-code" the range, but base it on len(data)
    if data[i] is not None:
        count = count + 1
        total = total + data[i]
average = total / count
print(average)

10.75

It's actually quite a bit more *readable* doing it this way:

In [ ]:
count = 0
total = 0
for val in data:
    if val is not None:
        count += 1
        total += val
average = total/count
print(average)

10.75

As you can see, this code is slightly easier to read than the previous one that was peperred with `range`, `len` and `[i]` bits of code.

Now, what about replacing the `None` values in `data`.

We could do it using indexing - so let's do that first:

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
for i in range(len(data)):
    if data[i] is None:
        data[i] = average
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

Again, we have code with `range` and `len` - it's not terribly difficult to understand, but we could do it this way instead:

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
for index, val in enumerate(data):
    if val is None:
        data[index] = average
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

Putting it together:

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

count = 0
total = 0
for i in range(len(data)):  # note how I do not "hard-code" the range, but base it on len(data)
    if data[i] is not None:
        count += 1
        total += data[i]
average = total / count

for i in range(len(data)):
    if data[i] is None:
        data[i] = average

print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

And, alternatively:

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

count = 0
total = 0
for val in data:
    if val is not None:
        count += 1
        total += val
average = total/count

for i, val in enumerate(data):
    if val is None:
        data[i] = average

print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

Which one do you think is easier to "read" and understand?

Personally, I prefer the second method - it is much more explicit: for example
```
for val in data
```
instead of
```
for i in range(len(data))
```

There are actually easier ways than this!

Just to show you (I won't explain it now, but we'll cover the topics needed to understand this later in the course), we could also have done this:

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
count = sum(1 for val in data if val is not None)
total = sum(val for val in data if val is not None)
average = total/count
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

Of course, for averages (or means), there's an even simpler way, by using Python's `statistics` module - again we'll cover this in detail later:

In [ ]:
from statistics import fmean

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
average = fmean(val for val in data if val is not None)
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

Later we'll cover `pandas`, a very useful library that allows us to do things like this even more readily:

In [ ]:
import pandas as pd

In [ ]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
df = pd.DataFrame(data)
df.fillna(df.mean(), inplace=True)
data = df[0].tolist()
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

# Function

### Custom Functions

We can create custom functions using the `def` keyword:

In [ ]:
def say_hello():
    return 'hello!'

We can then call this function using it's name (a symbol that points to the function object that was created):

In [ ]:
say_hello()

'hello!'

Note that `say_hello` is basically like a variable name - it is a variable (a symbol) that references some function object.

We can assign another symbol to the same function object:

In [ ]:
alias = say_hello

Now both `alias` and `say_hello` are referencing the **same** function object:

In [ ]:
id(alias), id(say_hello)

(137164301403184, 137164301403184)

In [ ]:
alias is say_hello

True

And now we can call this function using either name:

In [ ]:
alias()

'hello!'

The takeaway here is that when write:

```
def func_name():
    # function body here
```

we are basically creating a function object with the code in the body, and Python then assigns that object to a symbol `func_name` in our code.

Now, there's a bit more going on, when we create a function in this way, the function object that was created has some extra data (beyond the code in the function body) attached to it:

In [ ]:
say_hello.__name__

'say_hello'

Functions often require some input values, and we can this by simply listing the names we want to assign to those positional arguments in the function definition (ther **parameters** of the function).

In [ ]:
def add(a, b, c):
    print(f'a = {a}')
    print(f'b = {b}')
    print(f'c = {c}')
    return a + b + c

We can then call `add` with three arguments, and those values will be available in the function body using the names we specified for the parameters. The values are passed positionally - so the first argument goes into the first parameter, etc.

In [ ]:
result = add(1, 2, 3)
print(f'result = {result}')

a = 1
b = 2
c = 3
result = 6

In [ ]:
result = add(3, 2, 1)
print(f'result = {result}')

a = 3
a = 2
c = 1
result = 6

As we noted in the lecture, each time a function is **called** a new namespace is created that holds all the variables for that one specific "run" of the function.

The same happens when calling functions, except the namespace is local (to the call):

In [ ]:
def add(a, b, c):
    print('initial namespace:', locals())
    sum_ = a + b + c
    print('after creating symbol sum_:', locals())
    return sum_

In [ ]:
add(1, 2, 3)

initial namespace: {'a': 1, 'b': 2, 'c': 3}
after creating symbol sum_: {'a': 1, 'b': 2, 'c': 3, 'sum_': 6}

6

In [ ]:
add(3, 2, 1)

initial namespace: {'a': 3, 'b': 2, 'c': 1}
after creating symbol sum_: {'a': 3, 'b': 2, 'c': 1, 'sum_': 6}

6

Let's try a few more examples to get a good feel for writing functions:

In [ ]:
def find_max(a, b, c):
    max_ = a
    if b > max_:
        max_ = b
    if c > max_:
        max_ = c
    return max_

In [ ]:
find_max(10, 20, 30)

30

In [ ]:
from datetime import datetime

def log(message):
    curr_time = datetime.utcnow().isoformat()
    print(f'{curr_time} - [{message}]')

In [ ]:
log('log 1')

2024-09-05T02:13:22.641880 - [log 1]

In [ ]:
log('log 2')

2024-09-05T02:13:40.546565 - [log 2]

Notice how the current time changes every time we call the function.

Let's go back to a previous example, where we kept having to copy/paste the same code, just so we could run it multiple times:

In [ ]:
data = [1, 2, 3, 4, 5, 6]

for element in data:
    if element < 0:
        break
else: # no break
    print('processing all positive elements')

processing all positive elements

Basically we were looking to write some code that would check if all elements of an iterable were positive.

We can easily convert this to a function that we can re-use as many times as we want throughout our code:

In [ ]:
def is_all_positive(data):
    for element in data:
        if element < 0:
            return False
    return True

Now we can re-use it as many times as we want:

In [ ]:
is_all_positive([1, 2, 3, 4, 5])

True

In [ ]:
is_all_positive({10, 20, -3})

False

In [ ]:
d = {'a': 10, 'b': 20, 'c': -30}

In [ ]:
is_all_positive(d.values())

False

In [ ]:
is_all_positive(range(10))

True

Of course, we can specify as many positional arguments as we want:

In [ ]:
def gen_matrix(m, n, default_value):
    # generate an mxn matrix with each element initialized to default_value
    return [[default_value for i in range(n)] for j in range(m)]

In [ ]:
gen_matrix(2, 2, 1)

[[1, 1], [1, 1]]

In [ ]:
gen_matrix(4, 8, 1)

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

It is important to give meaningful names to our parameters - it makes understanding what the parameter means easier.

For the above example, I would do this instead:

In [ ]:
def gen_matrix(rows, cols, default_value):
    return [[default_value for i in range(cols)] for j in range(rows)]

In [ ]:
gen_matrix(3, 2, 1)

[[1, 1], [1, 1], [1, 1]]

Although the parameters are defined as positional parameters, Python supports **calling** the function with **named** arguments as follows:

In [ ]:
gen_matrix(rows=3, cols=5, default_value=0)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

The advantage of this is that we do not have to rely on getting the positions of the arguments correct - as long as we are naming them, Python will assign them to their respective parameter in the function.

So these two calls work the same:

In [ ]:
gen_matrix(2, 8, 1)

[[1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]

In [ ]:
gen_matrix(cols=8, rows=2, default_value=1)

[[1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]

We would not have obtained the same result if we have just switched the unnamed arguments around:

In [ ]:
gen_matrix(8, 2, 1)

[[1, 1], [1, 1], [1, 1], [1, 1], [1, 1], [1, 1], [1, 1], [1, 1]]

So, although out function uses **positional** parameters, we can choose to pass them **positionally** or **named** (also referred to as **keyword** arguments).

This becomes really useful, when we have a lot of parameters in a function, or when working with parameters that specify default values (we'll see this later).

It is possible to call a function that defines positional parameters using a **mix** of positional and named arguments.

However, we have to be careful, once we start using named arguments in a call, all subsequent arguments must be named too.

In [ ]:
gen_matrix(3, cols=5, default_value=1)

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

As you can see the first argument was passed by position, so it got assigned to `rows` in our function call, and the remaining arguments were passed as named arguments.

But this would not work (how could Python know what goes where?):

In [ ]:
gen_matrix(default_value=1, 3, 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-37-e6944403c3f1>, line 1)

One last thing I would like to mention regards a naming convention often used when we have variables whose values we are not really interested in:

In [ ]:
def gen_matrix(m, n, default_value):
    # generate an mxn matrix with each element initialized to default_value
    return [[default_value for i in range(n)] for j in range(m)]

In our case, we have `i` and `j`, and this is a prime example of where you mighbt see the code written as:

In [ ]:
def gen_matrix(m, n, default_value):
    # generate an mxn matrix with each element initialized to default_value
    return [[default_value for _ in range(n)] for __ in range(m)]

In [ ]:
gen_matrix(3, 2, 0)

[[0, 0], [0, 0], [0, 0]]

Again, there is nothing special about this code - people often use it simply to indicate that the loop variables `_` and `__` are not actually used. Just a naming convention, nothing more.

# Object Oriented Programming

A class is considered a blueprint of objects.

We can think of the class as a sketch (prototype) of a house. It contains all the details about the floors, doors, windows, etc.

Based on these descriptions, we build the house; the house is the object.

Since many houses can be made from the same description, we can create many objects from a class.

## Classes

We use the class keyword to create a class in Python. For example,

In [ ]:
class ClassName:
    # class definition

SyntaxError: incomplete input (<ipython-input-24-d552630fa1ba>, line 2)

Here, we have created a class named ClassName.

Let's see an example,

In [ ]:
class Bike:
    name = ""
    gear = 0

Here,

Bike - the name of the class
name/gear - variables inside the class with default values "" and 0 respectively.

Note: The variables inside a class are called attributes.

## Object

An object is called an instance of a class.

Suppose Bike is a class then we can create objects like bike1, bike2, etc from the class.

Here's the syntax to create an object.

In [ ]:
objectName = ClassName()

NameError: name 'ClassName' is not defined

In [ ]:
# create class
class Bike:
    name = ""
    gear = 0

# create objects of class
bike1 = Bike()

Here, bike1 is the object of the class. Now, we can use this object to access the class attributes.

Access class Attributes Using Objects

In [ ]:
# modify the name property
bike1.name = "Mountain Bike"

# access the gear property
bike1.gear

0

Here, we have used bike1.name and bike1.gear to change and access the value of name and gear attributes, respectively.

Example:

In [ ]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()
bike2 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

bike2.gear = 13
bike2.name = "Road Bike"

print(f"{{Name: {bike1.name}, Gears: {bike1.gear}}}")
print(f"{{Name: {Bike.name}, Gears: {Bike.gear}}}")

{Name: Mountain Bike, Gears: 11}
{Name: , Gears: 0}

# Referensi
Pyhton Fundamentals By Udemy, diakses pada https://www.udemy.com/course/python3-fundamentals

Programiz Classes and Object diakses pada https://www.programiz.com/python-programming/class